#first{
    background-color: blue;
}
#second{
    background-color: brown;
}
#third{
    background-color: black;
    color: wheat;
}
.red{
    color: red;
}
.yellow-bg{
    background-color: yellow;
}
.aqua{
    color: aqua;
}